### 해결문제)
2018년의 최고, 최저 기온을 추출하고 통계량을 표시하시오.

In [40]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PythonBasic/Day07/부산시기온.csv', encoding ='utf-8')
df

            일시    평균    최고    최저
0   2017-01-01   4.1  15.1  -7.7
1   2017-02-01   5.5  17.7  -5.7
2   2017-03-01   9.0  18.1  -2.3
3   2017-04-01  15.0  23.2   5.0
4   2017-05-01  19.0  28.2  12.8
5   2017-06-01  21.3  30.4  15.4
6   2017-07-01  26.1  32.7  21.2
7   2017-08-01  27.0  36.2  18.7
8   2017-09-01  22.6  29.7  14.5
9   2017-10-01  18.1  28.7   7.3
10  2017-11-01  11.2  23.6  -1.0
11  2017-12-01   3.6  14.5  -6.1
12  2018-01-01   1.9  14.0  -9.9
13  2018-02-01   3.9  14.7  -9.6
14  2018-03-01  10.0  22.3  -0.7
15  2018-04-01  14.5  24.3   3.0
16  2018-05-01  17.8  26.6   9.8
17  2018-06-01  21.5  31.3  15.1
18  2018-07-01  26.7  35.4  17.8
19  2018-08-01  27.9  36.4  21.2
20  2018-09-01  21.9  30.0  14.9
21  2018-10-01  16.4  25.6   7.9
22  2018-11-01  12.4  22.5   2.7
23  2018-12-01   5.7  18.8  -7.1
24  2019-01-01   4.5  13.7  -4.4
25  2019-02-01   6.6  16.5  -4.2
26  2019-03-01  10.5  21.0   0.5
27  2019-04-01  13.4  23.4   2.1
28  2019-05-01  19.3  30.1  11.0
29  2019-06-01  21.1  29.7  15.5

In [37]:
print(df.loc[df['일시'].str.contains('2018'), ['최고','최저']].describe())

              최고         최저
count  12.000000  12.000000
mean   25.158333   5.425000
std     7.292519  10.782741
min    14.000000  -9.900000
25%    21.425000  -2.300000
50%    24.950000   5.450000
75%    30.325000  14.950000
max    36.400000  21.200000

In [46]:
dfb = df.set_index('일시')
dfb.index.str.contains('2018')

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False, False, False])

In [47]:
dfb = dfb.loc[dfb.index.str.contains('2018'), :]
# dfb = dfb.loc[dfb.index.str.contains('2018'), ['최고', '최저']]
dfb

              평균    최고    최저
일시
2018-01-01   1.9  14.0  -9.9
2018-02-01   3.9  14.7  -9.6
2018-03-01  10.0  22.3  -0.7
2018-04-01  14.5  24.3   3.0
2018-05-01  17.8  26.6   9.8
2018-06-01  21.5  31.3  15.1
2018-07-01  26.7  35.4  17.8
2018-08-01  27.9  36.4  21.2
2018-09-01  21.9  30.0  14.9
2018-10-01  16.4  25.6   7.9
2018-11-01  12.4  22.5   2.7
2018-12-01   5.7  18.8  -7.1

In [48]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 2018-01-01 to 2018-12-01
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   평균      12 non-null     float64
 1   최고      12 non-null     float64
 2   최저      12 non-null     float64
dtypes: float64(3)
memory usage: 384.0+ bytes

In [49]:
dfbusan = df.loc[12:23, ['일시','최고','최저']]
dfbusan

            일시    최고    최저
12  2018-01-01  14.0  -9.9
13  2018-02-01  14.7  -9.6
14  2018-03-01  22.3  -0.7
15  2018-04-01  24.3   3.0
16  2018-05-01  26.6   9.8
17  2018-06-01  31.3  15.1
18  2018-07-01  35.4  17.8
19  2018-08-01  36.4  21.2
20  2018-09-01  30.0  14.9
21  2018-10-01  25.6   7.9
22  2018-11-01  22.5   2.7
23  2018-12-01  18.8  -7.1

In [50]:
dfbusan.info() #Dtype object :str 타입

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 12 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      12 non-null     object
 1   최고      12 non-null     float64
 2   최저      12 non-null     float64
dtypes: float64(2), object(1)
memory usage: 420.0+ bytes

In [51]:
dfbusan.head(2)

            일시    최고   최저
12  2018-01-01  14.0 -9.9
13  2018-02-01  14.7 -9.6

In [52]:
df['기온차'] = df['최고'] - df['최저']  #시리즈 연산 = 시리즈 (인덱스가 같으니깐..), 새로운 '기온차'열 생성

In [53]:
df

            일시    평균    최고    최저   기온차
0   2017-01-01   4.1  15.1  -7.7  22.8
1   2017-02-01   5.5  17.7  -5.7  23.4
2   2017-03-01   9.0  18.1  -2.3  20.4
3   2017-04-01  15.0  23.2   5.0  18.2
4   2017-05-01  19.0  28.2  12.8  15.4
5   2017-06-01  21.3  30.4  15.4  15.0
6   2017-07-01  26.1  32.7  21.2  11.5
7   2017-08-01  27.0  36.2  18.7  17.5
8   2017-09-01  22.6  29.7  14.5  15.2
9   2017-10-01  18.1  28.7   7.3  21.4
10  2017-11-01  11.2  23.6  -1.0  24.6
11  2017-12-01   3.6  14.5  -6.1  20.6
12  2018-01-01   1.9  14.0  -9.9  23.9
13  2018-02-01   3.9  14.7  -9.6  24.3
14  2018-03-01  10.0  22.3  -0.7  23.0
15  2018-04-01  14.5  24.3   3.0  21.3
16  2018-05-01  17.8  26.6   9.8  16.8
17  2018-06-01  21.5  31.3  15.1  16.2
18  2018-07-01  26.7  35.4  17.8  17.6
19  2018-08-01  27.9  36.4  21.2  15.2
20  2018-09-01  21.9  30.0  14.9  15.1
21  2018-10-01  16.4  25.6   7.9  17.7
22  2018-11-01  12.4  22.5   2.7  19.8
23  2018-12-01   5.7  18.8  -7.1  25.9
24  2019-01-01   4.5  13.7  -4.4  18.1
25  2019-02-01   6.6  16.5  -4.2  20.7
26  2019-03-01  10.5  21.0   0.5  20.5
27  2019-04-01  13.4  23.4   2.1  21.3
28  2019-05-01  19.3  30.1  11.0  19.1
29  2019-06-01  21.1  29.7  15.5  14.2

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      30 non-null     object
 1   평균      30 non-null     float64
 2   최고      30 non-null     float64
 3   최저      30 non-null     float64
 4   기온차     30 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.3+ KB

In [55]:
df['기온차'] = df['기온차'].astype(int)

In [57]:
df.head(2) # 타입이 변하면서 소수점 이하 날려감~

           일시   평균    최고   최저  기온차
0  2017-01-01  4.1  15.1 -7.7   22
1  2017-02-01  5.5  17.7 -5.7   23

- pd.to_nuneric()

+ pd.to_datetime()